:root {
    --primary: green;
    --secondary: black;
  }

p ,li{
    font-size: 20px !important;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,a,li,div{
    font-family: 'Raleway', sans-serif;
}