:root {
    --primary: rgb(0, 81, 128);
    --secondary: black;
  }

p ,li{
    font-size: 20px !important;
    font-family: 'Cinzel', sans-serif;
}
h1,h2,h3,h4,a,li,div{
    font-family: 'Cinzel', sans-serif;
}